.mainNavBar{
  height:7vh;
  width:100%;
  background-color: #BBDFF7;
  /* position:fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signatureheader{
  height:10vh;
  width:100%;
  background-color:rgba(187, 223, 247, 0.5);
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.nameContainer{
  font-size: 2rem;
}

.linkContainer{
  width:30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}