.mainNavBar{
  height:7vh;
  width:100vw;
  background-color: lightblue;
  /* position:fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signatureheader{
  height:15vh;
  width:100vw;
  background-color:rgba(96, 183, 205, 0.5);
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
}

.nameContainer{
  font-size: 2rem;
}