.blogTitle{
  margin-top:3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:4rem;
}

.blogIntroPic{
  margin-top:5vh;
  height:50vh;
  width:50vw;
  background-image:url("../../assets/SusiePic3.jpg");
}

.blogContainer{
  height:35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogEntryArea{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}