.App {
  text-align: center;
  /* margin-top:-2vh; */
}

.App-link {
  color: #61dafb;
}

.headerSpacer{
  height:10vh;
  width:100%;
  background-color:red;
}

.linkStyling{
  text-decoration: none;
}